<div class="results-block">
	<%= render 'layouts/alerts' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
  	<ol>
  		<% @friends.each do |friend| %>
	  		<li>
		    	<strong>Name: </strong> <%= friend.full_name %>
			    <strong>Email: </strong> <%= friend.email %>
			    <strong> </strong> <%= link_to "View profile", user_path(friend), class: "btn btn-sm btn-success" %>
			    <% if current_user.not_friends_with?(friend.id) %>
				    <strong> </strong> <%= link_to 'Follow', friendships_path(friend: friend), class: "btn btn-sm btn-success", method: :post %>
			    <% else %>
			    	<span class="badge badge-secondary">You are friends already</span>
		    	<% end %>
			  </li>
			  <hr>
		  <% end %>
	  </ol>
  </div>
<% end %>
